*{
    margin: 0;
    padding: 0;
}
body {
    color: #666666;
    background-color: #f9f8f6;
    background-image: url("../imgs/dark-wood.jpg");
    background-position: center;
    list-style: 1.4em;
    margin: 0;
}
.clear {
    clear: both;
}
.text-h2 {
    color: #de6581;
}
#wrapper {
    width: 940px;
    margin: 20px auto 20px auto;
    background-color: #fff;
    border: 2px solid #fff;
}
#wrapper .heading {
    height: 160px;
    background-image: url("../imgs/header.jpg");
}
#wrapper .nav {
    color: #fff;
    background-color: #aeaca8;
    height: 30px;
}
#wrapper .nav ul {
    margin: 0;
    padding: 5px 0px 5px 30px;
}
#wrapper .nav li {
    display: inline;
    margin-right: 40px;
}
#wrapper .nav a {
    text-decoration: none;
    color: #fff;
}
#wrapper .nav a:hover {
    color: #000;
}
#course {
    float: left;
    width: 659px;
    border-right: 1px solid #eee;
}
.pc-1 {
    width: 100%;
    overflow: auto;
}
hgroup {
    margin-top: 40px;
}
figure{
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #eee;
}
figcaption {
    font-size: 90%;
    text-align: left;
}
h1, h2, h3 {
    font-weight: normal;
}
h2 {
    margin: 10px 0px 5px 0px;
}
h3 {
    margin: 0px 0px 10px 0px;
    color: #de6581;
}
#aside {
    width: 230px;
    float: left;
    padding: 0px 0px 0px 20px;
}
#aside h2 {
    padding: 30px 0px 10px 0px;
}
#aside .popular a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eee;
}
#aside .popular a:hover {
    color: #de6581;
    background-color: #efefef;
}
footer {
    text-align: center;
    color: #fff;
    clear: both;
    height: 10px;
    background-color: #aeaca8;
    font-size: 80%;
    padding: 7px 0px 20px;
}




